CDK_ACCOUNT=123456789012
CDK_REGION=us-west-2
DOMAIN_NAME=myapp.example.com
ZONE_NAME=example.com
# ACM cert must be in us-east-1 (CloudFront requirement)
CERTIFICATE_ARN=arn:aws:acm:us-east-1:123456789012:certificate/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
